body {
  background-image: url("../assets/milad-fakurian-CN2FEPXERRI-unsplash.jpg");
  background-size: cover;
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
  color: white;
  /* margin: 0 !important; */
  /* margin-bottom: 100px; */
}

.button {
  color: white;
  margin-top: 10px;
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 12pt;
}

.button-add {
  color: white;
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 12pt;
}

/* .button-delete {
  color: white;
  background-color: #fa2525;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 10pt;
  margin: 10px;
} */

/* .button-edit {
  color: white;
  background-color: #1616fe;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 10pt;
  margin: 10px;
} */

.home-page {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 50px auto 50px auto;
  gap: 40px;
}

.calendar-image-home {
  /* margin: 0 auto; */
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.653),
    0 6px 20px 0 rgba(0, 0, 0, 0.432);
  width: 600px;
  height: auto;
}

.calendar-flex {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
  /* margin-top: 100px; */
}

.calendar-container {
  color: black;
  /* margin: 0 10px; */
  margin: 0 auto;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.653),
    0 6px 20px 0 rgba(0, 0, 0, 0.432);
}

.cal-profile-paper {
  margin: 0 auto;
}

.right-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* gap: 20px; */
  /* margin-bottom: 100px; */
  /* background-color: #24e41d; */
}

.activity-container {
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.528);
  color: white;
  /* font-family: "Courier New", Courier, monospace; */
  width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  font-weight: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-container-bottom {
  padding-bottom: 20px;
}

.activity-container-top h1 {
  color: black;
  font-size: 20px;
}

.activity-container-top h2 {
  font-size: 30px;
}

.activity-container p {
  margin-top: 50px;
  color: black;
}

.signup-button {
  /* margin-top: 10px; */
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.signup-button a {
  text-decoration: none;
  color: white;
}

.signup-page button:hover,
.signup-button:hover {
  background-color: #ffb59a;
  cursor: pointer;
  transition: 1s;
}

.logout-container {
  margin-top: 40px;
  text-align: center;
}

.logout-button {
  margin-top: 20px;
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 12pt;
}

.logout-button:hover {
  background-color: #ffb59a;
  cursor: pointer;
}

.preview-container {
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
}

.preview-container span {
  text-align: left;
  width: 150px;
}

.preview-container p {
  font-size: 16px;
  color: white;
}

#preview-emoji {
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.preview-features-container {
  border-radius: 15px;
  background-color: #fc7fb1c8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 30px;
  margin: 0 20px;
  gap: 20px;
}

.about-page {
  margin-bottom: 30px;
}

.preview-features-container h4 {
  text-align: center;
}

.profile-page {
  width: 90vw;
  margin: 40px auto 100px auto;
}

/* .top-bar-profile {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
  justify-content: space-evenly;
} */

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.welcome-box h2 {
  padding: 0px;
  font-size: 30px;
  /* height: 35px; */
  margin-top: 0px;
  margin-bottom: 40px;
}

.points-box {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.points-box p {
  color: black;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.points-highlighter {
  font-size: 25px;
  margin: 0;
  color: white;
  text-shadow: 0 0 7px #961de4, 0 0 10px #961de4, 0 0 21px #961de4,
    0 0 42px #961de4, 0 0 82px #961de4, 0 0 92px #961de4, 0 0 102px #961de4,
    0 0 151px #961de4;
}

.points-green {
  font-size: 25px;
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 0 0 7px #24e41d, 0 0 10px #24e41d, 0 0 21px #24e41d,
    0 0 42px #24e41d, 0 0 82px #24e41d, 0 0 92px #24e41d, 0 0 102px #24e41d,
    0 0 151px #24e41d;
}

.points-red {
  text-align: center;
  font-size: 25px;
  margin: 0;
  color: white;
  text-shadow: 0 0 7px #ed6ea0, 0 0 10px #ed6ea0, 0 0 21px #ed6ea0,
    0 0 42px #ed6ea0, 0 0 82px #ed6ea0, 0 0 92px #ed6ea0, 0 0 102px #ed6ea0,
    0 0 151px #ed6ea0;
}

.add-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
  flex: 1;
  height: 150px;
}

.add-text-box h3,
.add-friend-box h2 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.new-event-form button:hover,
.signup-page form button,
.login-page form button,
#btn-logout {
  border: none;
  background-color: #fc7fb1;
  color: white;
  width: 100%;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.add-friend-form button:hover,
#add-event-btn:hover,
.button-edit:hover,
.button-add:hover,
.button:hover,
.add-text-box button:hover,
.btn-show-form:hover,
.add-event-today-form button:hover,
.new-event-form button:hover,
.signup-page form button:hover,
.login-page form button:hover,
.log-in-bottom button:hover,
#btn-logout:hover {
  color: black;
  background-color: #ffb59a;
  cursor: pointer;
}

#mood-selection {
  margin-bottom: 20px;
  padding: 0 10px 10px 10px;
}

.mood-container {
  display: flex;
  gap: 10px;
}
.mood-container button {
  width: 70px;
  padding: 5px;
  border: none;
  background: none;
}

.mood-container button:hover {
  cursor: pointer;
  background-color: #ffb59a7d;
  border-radius: 20px;
}

.mood-container p {
  margin: 5px;
}

.mood-container h4 {
  font-size: 50px;
  margin: 0;
}

.combo-pannel,
#mood-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 20px; */
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
  margin-bottom: 20px;
}

.add-event-box {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 20px 20px 0px 20px;
  /* background-color: rgba(255, 255, 255, 0.516); */
  border-radius: 20px;
  /* width: 90%; */
}

.add-event-box h2 {
  text-align: center;
}

.add-friend-form select,
.add-event-flex-row select {
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.button-delete,
.button-edit,
.add-friend-form button {
  font-size: 15px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #fc7fb1;
  color: white;
  border: none;
  /* padding: 5px; */
  margin-left: 5px;
}

.new-event-box {
  padding: 0px 20px 0px 20px;
}

.event-form-head {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-show-form {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  font-size: 20px;
  border: none;
  background-color: #fc7fb1;
  color: white;
}

.add-event-box input {
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#add-event-btn {
  margin-left: 45%;
  color: white;
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  font-size: 15px;
}

.add-event-flex-row {
  display: flex;
  align-items: center;
}

.add-event-flex-row-item-1 {
  width: 35%;
}

.add-event-flex-row-item-2 {
  width: 65%;
}

.new-event-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.new-event-form label {
  margin: 10px 0 0 15px;
}

.new-event-form input {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.new-event-form button {
  color: white;
  margin: 20px auto 0 auto;
  background-color: #fc7fb1;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.friends-list-box h3 {
  text-align: center;
}

.friends-list-box li {
  list-style: none;
  margin-left: 35%;
  font-size: 17px;
}

.weekly-mood-box {
  /* margin-top: 40px;
  margin-bottom: 100px; */
  width: 60vw;
  margin: 40px auto 100px auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.528);
}

.friend-zone-box {
  padding: 0 10px 20px 10px;
}

.weekly-mood-box h2 {
  padding-top: 20px;
  text-align: center;
  color: black;
}

.all-charts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}

/* chart */
.chart-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;
  width: 600px;
}

.chart-container {
  width: 600px;
}

.doughnut-container {
  width: 300px;
}

.signup-page,
.login-page {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto 50px auto;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
}

.signup-page h1,
.login-page h1 {
  text-align: center;
  color: black;
}

.signup-page form,
.login-page form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 50px;
}

.signup-page form label,
.login-page form label {
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.points-box input,
.signup-page form input,
.login-page form input {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.signup-bottom,
.log-in-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.signup-bottom p,
.log-in-bottom p {
  color: black;
}

.signup-bottom button,
.log-in-bottom button {
  /* margin-top: 20px; */
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 15px;
  text-transform: uppercase;
}

.signup-page-link,
.log-in-page-link {
  color: white;
  text-decoration: none;
}

.signup-page-link:hover,
.log-in-page-link:hover {
  color: black;
}

.new-text-container {
  display: flex;
  justify-content: center;
}

.new-text-container input {
  border-radius: 10px;
  height: 200px;
  width: 300px;
  margin-right: 10px;
  border: none;
}

.diary-edit-box {
  display: flex;
  justify-content: space-between;
}

.diary-edit-btn {
  border: none;
  /* margin: 10px; */
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
}

.diary-edit-input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

footer {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69);
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* bottom: 20px; */
  padding: 0 20px;
  width: 90%;
  margin: 0 auto 30px auto;
  border-radius: 10px;
  /* position: fixed; */
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-shadow: 0 0 7px #961de4, 0 0 10px #961de4, 0 0 21px #961de4,
    0 0 42px #961de4, 0 0 82px #961de4, 0 0 92px #961de4, 0 0 102px #961de4,
    0 0 151px #961de4;
  transition: 0.3s;
}

.css-3nejl.Appointment-appointment {
  background-color: transparent !important;
}
.HorizontalAppointment-title {
  color: black;
  font-size: 8pt;
}

.day-view-page {
  width: 60vw;
  margin: 40px auto 100px auto;
  color: black;
}

.date-picker-div {
  margin: 20px 0;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.528);
}

.events-and-diary {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.diary-box,
.events-box {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.528);
}

.diary-box {
  width: 60%;
}

.events-box {
  width: 35%;
}

.diary-box h3,
.events-box h3 {
  text-align: center;
}

.single-diary-entry li {
  list-style: none;
  /* background-color: white; */
}

.entry-text {
  width: 60%;
}

.entry-edit-buttons {
  width: 40%;
}

.button-delete:hover {
  background-color: red;
  cursor: pointer;
}

.button-edit {
  font-size: 30px;
}

.single-entry-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.383);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.entry-edit-buttons {
  display: flex;
  justify-content: end;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.centered {
  text-align: center;
}

.goal-edit-btn {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 25px;
}

.goal-and-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.point-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.points-edit {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .calendar-flex {
    flex-direction: column;
  }

  .home-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scheduler {
    width: 400px;
    height: auto;
  }
  #mood-selection h2,
  .combo-pannel {
    color:black;
  }

  .points-box p {
    font-size: 18px;
  }

  .points-box h3 {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .home-page {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .home-page img {
    display: none;
  }

  .signup-page,
  .login-page {
    margin-top: 80px;
    width: 300px;
  }

  .signup-page form,
  .login-page form {
    width: 300px;
    margin-bottom: 50px;
  }

  .about-page {
    margin-top: 40px;
  }

  .profile-page {
    margin-top: 40px;
  }

  .points-box h3 {
    font-size: 30px;
  }

  .calendar-container {
    width: 350px;
  }

  #mood-selection {
    color: black;
  }

  .combo-pannel {
    color: black;
  }

  .day-view-page {
    margin: 20px auto 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .date-picker-div {
    width: 100%;
  }

  .events-and-diary {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .diary-box,
  .events-box {
    width: 100%;
  }

  .weekly-mood-page {
    margin-top: 40px;
    color: black;
  }

  .all-charts-box,
  .weekly-mood-box {
    width: 80%;
  }

  .chart-container,
  .chart-flex {
    width: 300px;
    height: 150px;
    margin: 0 auto;
  }

  .doughnut-container {
    margin: 0 auto;
  }

  .doughnut-container canvas {
    color: black;
  }

  .mood-container button {
    width: 60px;
  }

  footer {
    width: 300px;
    margin-bottom: 30px;
  }
}
