body {
  background-image: url("../assets/milad-fakurian-CN2FEPXERRI-unsplash.jpg");
  background-size: cover;
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
  color: white;
  /* margin: 0 !important; */
  margin-bottom: 100px;
}
.calendar-flex {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
}

.calendar-container {
  color: black;
  margin: 0 10px;
  width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.653),
    0 6px 20px 0 rgba(0, 0, 0, 0.432);
}

.activity-container {
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.528);
  color: white;
  /* font-family: "Courier New", Courier, monospace; */
  width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  font-weight: none;
}

.activity-container h1 {
  color: black;
  font-size: 20px;
}

.activity-container h2 {
  font-size: 30px;
}

.activity-container p {
  padding: 0 100px;
}

.signup-button {
  margin-top: 20px;
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 1.3vw;
}

.signup-page button:hover,
.signup-button:hover {
  background-color: #ffb59a;
  cursor: pointer;
}
.logout-container {
  margin-top: 40px;
  text-align: center;
}

.logout-button {
  margin-top: 20px;
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 12pt;
}
.logout-button:hover {
  background-color: #ffb59a;
  cursor: pointer;
}

.preview-container {
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
}

.preview-container span {
  text-align: left;
  width: 150px;
}

.preview-container p {
  font-size: 16px;
  color: white;
}

#preview-emoji {
  font-size: 40px;
  text-align: center;
  margin: 10px;
}

.preview-features-container {
  border-radius: 15px;
  background-color: #fc7fb1c8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 30px;
  margin: 0 20px;
  gap: 20px;
}

.preview-features-container h4 {
  text-align: center;
}

.profile-page {
  margin: 0px 4vw;
}

.profile-page h2 {
  text-align: center;
}

.signup-page form button,
.login-page form button,
#btn-logout {
  border: none;
  background-color: #fc7fb1;
  color: white;
  width: 100%;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 20px;
  text-transform: uppercase;
}

.add-event-today-form button:hover,
.new-event-form button:hover ,
.signup-page form button:hover,
.login-page form button:hover,
.log-in-bottom button:hover,
#btn-logout:hover {
  color: black;
  background-color: #ffb59a;
  cursor: pointer;
}

#mood-selection {
  margin-bottom: 20px;
}

.mood-container {
  display: flex;
  gap: 10px;
}
.mood-container button {
  width: 5vw;
  padding: 5px;
  border: none;
  background: none;
}

.mood-container button:hover {
  cursor: pointer;
  background-color: #ffb59a7d;
  border-radius: 20px;
}

.mood-container p {
  margin: 5px;
}

.mood-container h4 {
  font-size: 3vw;
  margin: 0;
}

#mood-selection,
.add-event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
}

.mood-container span {
  padding: 10px;
  font-size: 20px;
}

.add-event-today-form select {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.add-event-today-form button {
  font-size: 15px;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #fc7fb1;
  color: white;
  border: none;
  /* padding: 5px; */
  margin-left: 5px;
}

.new-event-form {
  display: flex;
  flex-direction: column;
}

.new-event-form label {
  margin: 10px 0 0 15px;
}

.new-event-form input {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.new-event-form button {
  color: white;
  margin: 20px auto 0 auto;
  background-color: #fc7fb1;
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.weekly-mood-box {
  margin-top: 40px;
  margin-bottom: 100px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.528);
}

.weekly-mood-box h2 {
  padding-top: 20px;
}

.all-charts-box {
  display: flex;
  justify-content: space-around;
}

/* chart */
.chart-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 40px;
}

.chart-container {
  width: 600px;
}

.doughnut-container {
  width: 300px;
}

.signup-page,
.login-page {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto 0 auto;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 20px;
}

.signup-page h1,
.login-page h1 {
  text-align: center;
  color: black;
}

.signup-page form,
.login-page form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 50px;
  
}

.signup-page form label,
.login-page form label {
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.signup-page form input,
.login-page form input {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.signup-bottom,
.log-in-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.signup-bottom p,
.log-in-bottom p {
  color: black;
}

.signup-bottom button,
.log-in-bottom button {
  /* margin-top: 20px; */
  background-color: #fc7fb1;
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 15px;
  text-transform: uppercase;
}

.signup-page-link,
.log-in-page-link {
  color:white;
  text-decoration: none;
}

.signup-page-link:hover,
.log-in-page-link:hover {
  color: black;
}

footer {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69);
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  bottom: 20px;
  padding: 0 20px;
  width: 90%;
  margin: 0 20px;
  border-radius: 10px;
  position: fixed;
}

footer p {
  font-size: 15px;
  text-transform: uppercase;
}

/* calendar */
/* .VerticalAppointment-time {
  background-color: #fc7fb1;
} */
/* calendar */
.css-3nejl.Appointment-appointment {
  background-color: transparent !important;
}


